.btn {
  display: none;

  @media screen and (max-width: 320px) {
    display: flex;
    justify-content: center;
    margin: 20px 4px 0px 0px;
  }
  &__radio {
    @media screen and (max-width: 320px) {
      display: none;
    }
  }
  &__fake {
    @media screen and (max-width: 320px) {
      display: block;
      width: 4px;
      height: 4px;
      margin-right: 4px;
      border-radius: 50%;
      position: relative;
      background-color: #d9d9d9;
    }
  }
  &__fake::before {
    @media screen and (max-width: 320px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #212121;
      content: "";
      opacity: 0;
      transition: 2s;
    }
  }
  &__fake_active {
    @media screen and (max-width: 320px) {
      background-color: #212121;
    }
  }
  &__radio:checked + &__fake::before {
    @media screen and (max-width: 320px) {
      opacity: 1;
    }
  }
}
